<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.motif" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Møtif</name>
    <description>An anti-social media app for creatives to get inspiration</description>
    <author email="spyguy57@outlook.com" href="www.instagram.com/zenn.magic">
        Matthew Zenn
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#00000000" />
</widget>
